<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <h2>Register</h2>
<div class="container">
    <form action="/" method="POST">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        Mobile number: <input type="text" name="mobile_no"><br>
        Aadhar number: <input type="text" name="aadhar_no"><br>
        <input id='btn_submit' type="submit" name="button" value="Submit">
    </form>
</div>
</body>