body {
    font-family: Arial, sans-serif;
    background-image:url(https://i.postimg.cc/xCymTJWS/wp9764009.jpg) ;
    background-repeat: no-repeat;
    background-attachment: static;
    background-size: cover;
}

h2 {
    color: #ffffff;
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border-width: 30%;
    border-radius: 32px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
    background-color: rgb(56, 114, 124);
    border: 10px;
    border-radius: 32px;
    max-width: 300px;
    margin: 0 auto;
}